#my-list-group .list-group-item {

    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;

}

.align-middle {
    vertical-align: middle !important;
}

.align-center {
    text-align: center;
}

.table-center td, .table-center th {
    vertical-align: middle !important;
    text-align: center;
}

.btn-small {
    font-size: 0.8rem !important;
}

.class-color-1 {
    background-color: lightskyblue;
    /*new*/
}

.class-color-2 {
    background-color: yellow;
    /*yetkazishda*/
    color: #0a0a0a;
}

.class-color-3 {
    background-color: limegreen;
    /*yetjazilsi*/
}

.class-color-4 {
    background-color: red;
    /*cancelled*/
}

.class-color-5 {
    background-color: red;
    /*muammol*/
}

.class-color-6 {
    background-color: #8a6d3b;
    /*yetkazishga tayyor*/
}

.class-color-7 {
    background-color: mediumvioletred;
    /*kechiktirildi*/
}